.table th,
.table td {
    text-align: center;
}

.toggle-button {
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.toggle-button.expanded {
    color: #28a745;
}

.text-success {
    color: #28a745;
}

.text-danger {
    color: #dc3545;
}